.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  background: transparent;
  color: white;
  padding: 6px 12px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 5px 1px rgba(255, 255, 255, 0.25);
  border-radius: 15px;

  transition: all 250ms ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-disabled {
  border: 2px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.25);
  box-shadow: none;
  pointer-events: none;
}

.btn:active {
  background: rgba(111, 255, 229, 0.25);
  box-shadow: 0px 0px 10px 0px #6FFFE5;
}