:root {
  --radius: 20;
}

.circle {
  position: absolute;
  border-radius: 50%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  top: -100px;
}

.polaris {
  background: rgba(217, 217, 217, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.25);

  width: 40px;
  height: 40px;
}

.bullet {
  background: #6FFFE5;
  border: 1px solid rgb(111, 255, 229);
  box-shadow: 0px 0px 25px 5px #6FFFE5;

  width: 4px;
  height: 4px;
}

.ship {
  background: rgba(215, 65, 167, 0.25);
  border: 2px solid rgba(215, 65, 167, 1);
  box-shadow: 0px 0px 25px 10px rgba(215, 65, 167, 0.25);

  width: 14px;
  height: 14px;
}

.fast-ship {
  background: rgba(215, 65, 65, 0.25);
  border: 1px solid #D74141;
  box-shadow: 0px 0px 25px 10px rgba(215, 65, 65, 0.25);

  width: 10px;
  height: 10px;
}

.money {
  color: rgb(255, 186, 8);
  font-size: 0.75rem;
}