.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.center {
  transform: translate(-50%, -50%);
}

.soft-text {
  color: rgba(255, 255, 255, 0.75);
}

.small-text {
  font-size: 0.75rem;
}

.hidden {
  display: none;
}